* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background-color: #d6e2f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 400px;
  background-color: white;
  padding: 25px 35px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #2b7dfa;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  border: 2px solid #2b7dfa;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #185abb;
}

img {
  display: block;
 
  max-height: 0;
  margin: 20px auto;
  border-radius: 10px;
}
.show-img{
    border: 2px solid #2b7dfa;
    max-height: 200px;
    transition: max-height 1s ease;
}
.btn-box {
  display: flex;
  justify-content: space-around;
}

button {
  background-color: #2b7dfa;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.gen-qr:hover {
  background-color: #185abb;
}

button:active {
  transform: scale(0.98);
}

.js-btn-disable {
  cursor: not-allowed;
  opacity: 0.5;
}

.js-error {
  animation: shake 0.3s;
  border: 2px solid red;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Media query for mobile */
@media (max-width: 768px) {
  h1 {
      font-size: 28px;
  }

  .container{
    width: 320px;
    background-color: white;
    padding: 20px 30px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
  }
  button {
    font-size: 14px;
  
  }
}
